includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 6
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Property .+::[$].+ has no type specified\.#'
